@import "tailwindcss";

@theme {
  --font-amiri: 'Amiri', serif;
  --font-ovo: 'Ovo', serif;
  --font-playfair: 'Playfair Display', serif;
  --color-gold-text: #866739;
  --color-dark-text: #2a2a2a;
  --color-gray-text: #454545;
  --color-bg-peach: #f9e6d4;
}

body {
  font-family: 'Playfair Display', serif;
}

.font-amiri {
  font-family: 'Amiri', serif;
}

.font-ovo {
  font-family: 'Ovo', serif;
}

/* Custom scrollbar for an elegant look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg-peach); 
}
::-webkit-scrollbar-thumb {
  background: var(--color-gold-text); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b522b; 
}
